Flask==2.2.3
flask-cors==3.0.10
pymongo==4.4.0         # MongoDB Python driver
dnspython==2.2.1       # Required for connecting to MongoDB Atlas if you're using a cloud database
opencv-python==4.8.0.74  # OpenCV for Python for posture detection
